{% extends "base.html" %}

{% block title %}Verify your email address &bull; Whisper{% endblock %}
{% block page %}verify{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card mt-5">
        <div class="card-header py-4">
          <h3 class="m-0">Verify Your E-mail Address</h3>
        </div>
        <div class="card-body">
          <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.</p>
          <p>Please contact us if you do not receive it within a few minutes.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
