{% extends "base.html" %}

{% block title %}Sign up for Whisper{% endblock %}
{% block page %}signup{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card mt-5">
        <div class="card-header py-4">
          <h3 class="m-0">Sign up <span class="text-muted">for Whisper</span></h3>
        </div>
        <div class="card-body">
          <form action="." method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input class="form-control" type="email" name="email" placeholder="Email" required>
              {% if form.errors.email %}
                <span class="form-text text-danger">{{ form.errors.email.as_text | cut:"* " }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="username" placeholder="Username" required>
              {% if form.errors.username %}
                <span class="form-text text-danger">{{ form.errors.username.as_text | cut:"* " }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="password1" placeholder="Password" required>
              {% if form.errors.password1 %}
                <span class="form-text text-danger">{{ form.errors.password1.as_text | cut:"* " }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="password2" placeholder="Password (again)" required>
              {% if form.errors.password2 %}
                <span class="form-text text-danger">{{ form.errors.password2.as_text | cut:"* " }}</span>
              {% endif %}
            </div>
            {% for key, error in form.errors.items %}
              <div class="form-group text-danger">
                {{ form.non_field_errors.as_text | cut:"* " }}
              </div>
            {% endfor %}
            <button class="btn btn-success btn-block">Sign Up</button>
          </form>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body py-2 text-muted">
          Already signed up? Let's <a href="/accounts/login">Login</a> then.
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
