language: python
python:
  - "3.6"
services:
  - redis-server
install:
  - "pip install -r requirements/dev.txt"
  - "pip install codecov"
script:
  - "fab cq"
  - "fab coverage"
after_success:
  - codecov
