Django~=2.0.0
django-crispy-forms==1.7.2
django-allauth==0.36.0
django-environ==0.4.4
channels==2.1.1
channels_redis~=2.0
dj-database-url==0.5.0
django-redis==4.9.0
whitenoise==3.3.1
Twisted[tls,http2]==18.4.0
psycopg2-binary==2.7.4
Fabric3==1.14.post1
bleach==2.1.3
