/* Global */

body {
    font-family: "PT Sans", sans-serif;
    background: hsl(0, 0%, 95%);
}

a,
button,
[ui-sref],
[ng-click] {
    cursor: pointer;
    text-decoration: none !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar {
    background: white;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
}

[nosel] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Navbar */

.navbar-brand {
    font-weight: bold;
}


/* Chat wrapper */

#chat-wrapper {
    background: white;
    margin: 30px 0;
    border: 1px solid hsl(0, 0%, 90%);
}

#chat-wrapper p {
    margin: 0;
}


/* Chat rooms */

#chat-rooms {
    padding: 15px;
    background: hsl(0, 0%, 97%);
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

#chat-rooms a {
    margin-right: 5px;
}


/* Chat messages */

#chat-messages {
    min-height: 200px;
    overflow-y: scroll;
    position: relative;
}

#chat-messages #messages-wrapper {
    max-height: 200px;
    position: absolute;
    bottom: 0;
}

#chat-messages .message {
    margin: 15px;
}


/* Chat box */

#chat-box input {
    border: 0;
    border-top: 1px solid hsl(0, 0%, 90%);
    box-shadow: none;
    background: hsl(0, 0%, 97%);
    border-radius: 0;
    padding: 15px;
}
