<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static "lib/bootstrap/bootstrap.css" %}"/>
  <link rel="stylesheet" href="{% static "assets/app.css" %}?1"/>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">

  <script src="{% static "lib/jquery/jquery.js" %}"></script>
  <script src="{% static "lib/popper/popper.js" %}"></script>
  <script src="{% static "lib/bootstrap/bootstrap.js" %}"></script>
  <script src="{% static "lib/angular/angular.js" %}"></script>
  <script src="{% static "lib/reconnecting-websocket/reconnecting-websocket.js" %}"></script>
  <script src="{% static "assets/app.js" %}?1"></script>

  {% if user.is_authenticated %}
    <script>
      app.constant("SETTING", {
        USER: {
          USERNAME: "{{ request.user.username }}"
        }
      });
    </script>
  {% endif %}

  {% block extra_head %}{% endblock %}
</head>
<body ng-app="whisper" ng-controller="MainController as main">

<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="/">Whisper</a>

    <!-- Toggle button -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbar">

      <!-- Left -->
      <ul class="navbar-nav mr-auto"></ul>

      <!-- Right -->
      <ul class="navbar-nav">

        <!-- Auth -->
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
              <b>{{ user.username }}</b>
            </a>
            <div class="dropdown-menu">
              <!-- Profile -->
              <a class="dropdown-item" href="{% url "users:redirect" %}">
                <i class="fas fa-fw fa-user-circle"></i> Profile
              </a>
              <!-- Settings -->
              <a class="dropdown-item" href="{% url "users:update" %}">
                <i class="fas fa-fw fa-cog"></i> Settings
              </a>
              <!-- Log out -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url "users:logout" %}">
                <i class="fas fa-fw fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Content -->
{% block content %}{% endblock %}

</body>
</html>
