<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">

  <title>{% block title %}Whisper{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'lib/bootstrap/bootstrap.css' %}?1"/>
  <link rel="stylesheet" href="{% static 'assets/app.css' %}?1"/>

  <script src="{% static 'lib/reconnecting-websocket/reconnecting-websocket.js' %}"></script>
  <script src="{% static 'lib/simplewebrtc/simplewebrtc-v2.js' %}"></script>
  <script src="{% static 'lib/linkifyjs/linkify.js' %}"></script>
  <script src="{% static 'lib/linkifyjs/linkify-string.js' %}"></script>

  <script src="{% static 'lib/jquery/jquery.js' %}"></script>
  <script src="{% static 'lib/popper/popper.js' %}"></script>
  <script src="{% static 'lib/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'lib/angular/angular.js' %}"></script>
  <script src="{% static 'assets/app.js' %}?1"></script>

  <script>
    app.constant("PATH", {
      EMOJIS: "{% static 'assets/emojis.json' %}",
    });
  </script>
  <style>
    #localVideo{
      width: 150px;
    }

    #remoteVideos {
      height: 150px;
    }

  </style>

  {% if user.is_authenticated %}
    <script>
      app.constant("SETTING", {
        USER: {
          USERNAME: "{{ request.user.username }}"
        }
      });
    </script>
  {% endif %}

  {% block extra_head %}{% endblock %}
</head>
<body ng-app="whisper" ng-controller="MainController as main" id="{% block page %}{% endblock %}">

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="/">Whisper</a>

    <!-- Toggle button -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbar">

      <!-- Left -->
      <ul class="navbar-nav mr-auto"></ul>

      <!-- Right -->
      <ul class="navbar-nav">

        <!-- Auth -->
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <!-- Username -->
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{ user.username }}</a>
            <!-- Dropdown -->
            <div class="dropdown-menu">
              <!-- Profile -->
              <a class="dropdown-item" href="{% url "users:redirect" %}">Profile</a>
              <!-- Settings -->
              <a class="dropdown-item" href="{% url "users:update" %}">Settings</a>
              <!-- Line -->
              <div class="dropdown-divider"></div>
              <!-- Log out -->
              <a class="dropdown-item" href="{% url "users:logout" %}">Logout</a>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Content -->
{% block content %}{% endblock %}

</body>
</html>
