{% extends "base.html" %}

{% block title %}Whisper{% endblock %}

{% block content %}

  <div class="container border py-3 mt-5 bg-light" ng-controller="IndexController as index">

    <div class="nav nav-pills">
      <li class="nav-item" ng-repeat="room in {{ rooms_js }}">
        <a ng-href="#[[ room.id ]]" class="nav-link mr-2"
            ng-class="{active: index.currentRoom == room.id}"
            ng-click="index.openRoom(room.id)">
          [[ room.title ]]
        </a>
      </li>
    </div>

    <hr>

    <!-- Messages -->
    <p ng-repeat="message in index.messages">

      <!-- Announce -->
      <em ng-if="message.msg_type == 5 || message.msg_type == 4" class="text-secondary">
        [[ message.username ]] [[ message.msg_type == 4 ? "joined" : "left" ]] the chatroom.
      </em>

      <!-- Message -->
      <span ng-if="message.message">
        <b>[[ message.username ]]:</b> [[ message.message ]]
      </span>
    </p>

    <hr>

    <div class="chat-wrapper">
      <form ng-submit="index.message(index.chatForm.message)">
        <input type="text" placeholder="Messsage" ng-model="index.chatForm.message" class="form-control"/>
      </form>
    </div>

  </div>

{% endblock %}