{% extends "base.html" %}

{% block title %}Whisper{% endblock %}

{% block content %}

  <div class="container mt-5" ng-controller="IndexController as index">

    <div class="nav nav-pills">
      {% for room in rooms %}
        <li class="nav-item">
          <a ng-href="#{{ room.id }}" class="nav-link mr-2"
             ng-class="{active: index.currentRoom == {{ room.id }}}"
             ng-click="index.openRoom({{ room.id }})">
            {{ room.title }}
          </a>
        </li>
      {% endfor %}
    </div>

    <hr>

    <div id="chats">
    </div>

  </div>

{% endblock %}