{% extends "base.html" %}

{% block title %}Whisper{% endblock %}
{% block page %}index{% endblock %}
{% block extra_head %}
  <script>
    app.constant("VIEW", {
      ROOMS: JSON.parse('{{ rooms_js | safe }}')
    });
  </script>
{% endblock %}

{% block content %}

  <!-- Container -->
  <div id="chat-container" class="container" ng-controller="IndexController as index">

    <!-- Chat wrapper -->
    <div id="chat-wrapper">

      <!-- Rooms -->
      <nav class="navbar navbar-light bg-light navbar-expand" nosel>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="rooms" data-toggle="dropdown">[[ index.room.title || "Room" ]]</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" ng-href="#[[ $index ]]" ng-class="{active: index.room.id == room.id}"
                ng-repeat="room in index.rooms" ng-click="index.openRoom(room)">
                [[ room.title ]]
              </a>
            </div>
          </li>
        </ul>
      </nav>

      <!-- Messages -->
      <div id="chat-messages">
        <div id="messages-wrapper">
          <div class="message" ng-repeat="message in index.room.messages"
            ng-if="index.room" ng-class="{own: message.isOwn(), announce: !message.message}">
            <!-- Announce -->
            <span ng-if="!message.message">
              [[ message.username ]] [[ message.kind == 4 ? "joined" : "left" ]] the chatroom.
            </span>
            <!-- Normal message -->
            <span ng-if="message.message">
              <span class="user" style="color: [[ message.color ]]">[[ message.username ]]</span>
              <span ng-bind-html="message.message"></span>
            </span>
          </div>
        </div>
      </div>

      <!-- Dropup -->
      <div id="chat-dropup" ng-show="index.dropup.dropup">

        <!-- Emojis -->
        <div id="emojis" ng-show="index.dropup.emojis">
          <button class="btn btn-light" ng-repeat="emoji in emojis"
            ng-click="index.insertToMessage(emoji)">[[ emoji ]]</button>
        </div>
      </div>

      <!-- Message box -->
      <div id="chat-box">
        <form ng-submit="index.message(index.chatForm.message)">
          <div class="input-group">
            <div class="input-group-prepend emojis-button">
              <a class="btn btn-link" ng-class="{active: showEmojis}" ng-click="index.toggleEmojis()">&#128578;</a>
            </div>
            <input type="text" placeholder="Messsage" class="form-control"
              id="focus" autocomplete="off" ng-model="index.chatForm.message"/>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
